<h1>Day Planner</h1>

<ul>
    {{#each movies}}
    <li>
        <p>
            {{this.id}}. {{this.movie}}

            <button data-movieid="{{this.id}}" class="delmovie">Delete</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Create a Movie</h2>
<form id="createmovie" class="createmovie" class="button-size">
    <textarea type="text" name="movie"></textarea>
    <button type="submit">Save Movie!</button>
</form>

<h2>Update a Movie</h2>
<form id="updatemovie" class="button-size">
    <select name="id">
        {{#each movies}}
        <option value="{{this.id}}">{{this.movie}}</option>
        {{/each}}
    </select>
    <textarea type="text" name="movie" placeholder="movie"></textarea>
    <button type="submit">Update Movie!</button>
</form>

<script type="text/javascript">
    $(".delmovie").on("click", function (event) {
        var id = $(this).data("movieid");//$(this).attr("data-movieid");//
        $.ajax("/api/movies/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("deleted id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#createmovie").on("submit", (event) => {
        event.preventDefault();
        const newMovie = {
            movie: $("#createmovie [name=movie]").val().trim()
        };
        $.ajax("/api/movies", {
            type: "POST",
            data: newMovie
        }).then(
            () => {
                console.log(`created new movie ${newMovie.movie}`);
                location.reload();
            }
        );
    });

    $("#updatemovie").on("submit", (event) => {
        event.preventDefault();
        const id = $("[name=id]").val().trim();

        const updatedMovie = {
            movie: $("#updatemovie [name=movie]").val().trim()
        };
        $.ajax("/api/movies/" + id, {
            type: "PUT",
            data: updatedMovie
        }).then(
            () => {
                console.log(`updated id: ${id}`);
                location.reload();
            }
        );
    });
</script>